# Y.one
snippet one
	Y.one("${1:selector}");
snippet YUI
	YUI().use(${1:modules}, function (Y) {
		${2:// Code Here}
	});
snippet doc
	document${1}
snippet con
	console${1}
snippet win
	window${1}
snippet log
	console.log(${1});
snippet ret
	return ${1};
snippet ret0
	return false;${1}
snippet ret1
	return true;${1}
