snippet YUI
YUI().use(${1:modules}, function (Y) {
	${0:${VISUAL:\/\/ Code Here}}
});
endsnippet

snippet if
if (${1:true}) {
	${0:${VISUAL:\/\/ Code Here}}
}
endsnippet

snippet try
try {
	${1:${VISUAL}}
} catch (${2:e}) {
	${0:/* handle error */}
}
endsnippet

snippet wh
while (${1:/* condition */}) {
	${0:${VISUAL}}
}
endsnippet
