snippet YUI
YUI().use(${1:modules}, function (Y) {
	${0:${VISUAL:\/\/ Code Here}}
});
endsnippet

snippet if
if (${1:true}) {
	${2:${VISUAL:\/\/ Code Here}}
}
$0
endsnippet

snippet try
try {
	${1:${VISUAL}}
} catch (${2:e}) {
	${3:/* handle error */}
}
$0
endsnippet

snippet wh
while (${1:/* condition */}) {
	${2:${VISUAL:\/\/ Code Here}}
}
$0
endsnippet
